<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tournament System</title>
  </head>
  <body>
    <h1>Hello to Tournament System</h1>
    <% tournaments.forEach((tournament) => { %>
      <li><%= tournament.name %></li>
    <% }); %>
  </body>
</html>
