<%- include('layoutTop', { user }) -%>
<main class="container">
  <form method="POST">
    <div class="alert alert-warning" role="alert">
      By registering in tournament you confirm that you know the rules and won't be cheating.
    </div>

    <div class="form-row">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</main>
<%- include('layoutBottom') -%>