<%- include('../layoutTop', { user }) -%>
<main class="container">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Email confirmation</h4>

    Email was successfully confirmed.
  </div>
</main>
<%- include('../layoutBottom') -%>