<%- include('../layoutTop', { user }) -%>
<main class="container">
  <form method="POST">
    <div class="form-group form-row justify-content-center">
      <label for="passwordInput" class="col-sm-3 col-md-2">New password</label>
      <input
        type="password"
        class="form-control col-sm-9 col-md-6
          <%= validationError.password ? 'is-invalid' : ''%>"
        id="passwordInput"
        name="password"
        aria-describedby="passwordHelpBlock"
        required
      >
      <small id="passwordHelpBlock" class="offset-md-2 form-text text-muted">
        Password must be be 5-72 characters long, and must not contain special characters (like á, â, ę, ö or emojis).
      </small>
      <div class="invalid-feedback offset-md-2">
        Password is not valid
      </div>
    </div>

    <div class="form-group form-row justify-content-center">
      <label for="confirmedPasswordInput" class="col-sm-3 col-md-2">Confirm password</label>
      <input
        type="password"
        class="form-control col-sm-9 col-md-6
          <%= validationError.confirmedPassword ? 'is-invalid' : ''%>"
        id="confirmedPasswordInput"
        name="confirmedPassword"
        required
      >
      <div class="invalid-feedback offset-md-2">
        Passwords must match
      </div>
    </div>
    
    <div class="form-row">
      <button type="submit" class="offset-md-2 btn btn-primary">Confirm</button>
    </div>
  </form>
</main>
<%- include('../layoutBottom') -%>