<%- include('../layoutTop', { user }) -%>
<main class="container">
  <div class="alert alert-danger">
    <h4 class="alert-heading">Token is invalid</h4>
    Token is invalid. Tokens are valid only for 15 minutes. You may try generate new token.
  </div>
</main>
<%- include('../layoutBottom') -%>