<%- include('../layoutTop', { user }) -%>
<main class="container">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Password changed</h4>
    Password was successfully changed. You may now login with new password.
  </div>
</main>
<%- include('../layoutBottom') -%>