<%- include('../layoutTop', { user }) -%>
<main class="container">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Email was send</h4>
    <p>If provided email is correct, then you should receive 
      a message with link to reset password.</p>
  </div>
</main>
<%- include('../layoutBottom') -%>